@import "tailwindcss";

@import "tw-animate-css";

@config "../js/plugins/fluidTypography.cjs";

@custom-variant dark (&:is(.dark *));
@source "../views";

@theme {
    --color-gray: #767676;
    --font-montserrat: "Montserrat", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-aquire: 'Aquire', sans-serif;
    --color-gray-border: #4e4e4e;
    --color-gray-border-darker: #434343;
    --color-gray-border-lighter: #989898;
    --color-white: #F2F0EF;
    --color-white-cream: #FFFBF3;
    --color-lime: #1EFB0A;
    --spacing-nav-screen: calc(100lvh - var(--spacing-nav));
    --spacing-nav-screen-sm: calc(100lvh - var(--spacing-nav-sm));
    --spacing-nav: 100px;
    --spacing-nav-sm: 80px;
}

@theme inline {
    --color-background:           var(--shadcn-background);
    --color-foreground:           var(--shadcn-foreground);
    --color-card:                 var(--shadcn-card);
    --color-card-foreground:      var(--shadcn-card-foreground);
    --color-popover:              var(--shadcn-popover);
    --color-popover-foreground:   var(--shadcn-popover-foreground);
    --color-primary:              var(--shadcn-primary);
    --color-primary-foreground:   var(--shadcn-primary-foreground);
    --color-secondary:            var(--shadcn-secondary);
    --color-secondary-foreground: var(--shadcn-secondary-foreground);
    --color-muted:                var(--shadcn-muted);
    --color-muted-foreground:     var(--shadcn-muted-foreground);
    --color-accent:               var(--shadcn-accent);
    --color-accent-foreground:    var(--shadcn-accent-foreground);
    --color-destructive:          var(--shadcn-destructive);
    --color-destructive-foreground: var(--shadcn-destructive-foreground);
    --color-border:               var(--shadcn-border);
    --color-input:                var(--shadcn-input);
    --color-ring:                 var(--shadcn-ring);
    --color-chart-1:              var(--shadcn-chart-1);
    --color-chart-2:              var(--shadcn-chart-2);
    --color-chart-3:              var(--shadcn-chart-3);
    --color-chart-4:              var(--shadcn-chart-4);
    --color-chart-5:              var(--shadcn-chart-5);
    --radius-sm:                  calc(var(--shadcn-radius) - 4px);
    --radius-md:                  calc(var(--shadcn-radius) - 2px);
    --radius-lg:                  var(--shadcn-radius);
    --radius-xl:                  calc(var(--shadcn-radius) + 2px);
    --color-sidebar:              var(--shadcn-sidebar);
    --color-sidebar-foreground:   var(--shadcn-sidebar-foreground);
    --color-sidebar-primary:      var(--shadcn-sidebar-primary);
    --color-sidebar-primary-foreground: var(--shadcn-sidebar-primary-foreground);
    --color-sidebar-accent:       var(--shadcn-sidebar-accent);
    --color-sidebar-accent-foreground: var(--shadcn-sidebar-accent-foreground);
    --color-sidebar-border:       var(--shadcn-sidebar-border);
    --color-sidebar-ring:         var(--shadcn-sidebar-ring);
}

:root {
    --shadcn-background:           oklch(1 0 0);
    --shadcn-foreground:           oklch(0.145 0 0);
    --shadcn-card:                 oklch(1 0 0);
    --shadcn-card-foreground:      oklch(0.145 0 0);
    --shadcn-popover:              oklch(1 0 0);
    --shadcn-popover-foreground:   oklch(0.145 0 0);
    --shadcn-primary:              oklch(0.205 0 0);
    --shadcn-primary-foreground:   oklch(0.985 0 0);
    --shadcn-secondary:            oklch(0.97 0 0);
    --shadcn-secondary-foreground: oklch(0.205 0 0);
    --shadcn-muted:                oklch(0.97 0 0);
    --shadcn-muted-foreground:     oklch(0.556 0 0);
    --shadcn-accent:               oklch(0.97 0 0);
    --shadcn-accent-foreground:    oklch(0.205 0 0);
    --shadcn-destructive:          oklch(0.577 0.245 27.325);
    --shadcn-destructive-foreground: oklch(0.577 0.245 27.325);
    --shadcn-border:               oklch(0.922 0 0);
    --shadcn-input:                oklch(0.922 0 0);
    --shadcn-ring:                 oklch(0.708 0 0);
    --shadcn-chart-1:              oklch(0.646 0.222 41.116);
    --shadcn-chart-2:              oklch(0.6 0.118 184.704);
    --shadcn-chart-3:              oklch(0.398 0.07 227.392);
    --shadcn-chart-4:              oklch(0.828 0.189 84.429);
    --shadcn-chart-5:              oklch(0.769 0.188 70.08);
    --shadcn-radius:               0.625rem;
    --shadcn-sidebar:              oklch(0.985 0 0);
    --shadcn-sidebar-foreground:   oklch(0.145 0 0);
    --shadcn-sidebar-primary:      oklch(0.205 0 0);
    --shadcn-sidebar-primary-foreground: oklch(0.985 0 0);
    --shadcn-sidebar-accent:       oklch(0.97 0 0);
    --shadcn-sidebar-accent-foreground: oklch(0.205 0 0);
    --shadcn-sidebar-border:       oklch(0.922 0 0);
    --shadcn-sidebar-ring:         oklch(0.708 0 0);
}

.dark {
    --shadcn-background:           oklch(0.145 0 0);
    --shadcn-foreground:           oklch(0.985 0 0);
    --shadcn-card:                 oklch(0.145 0 0);
    --shadcn-card-foreground:      oklch(0.985 0 0);
    --shadcn-popover:              oklch(0.145 0 0);
    --shadcn-popover-foreground:   oklch(0.985 0 0);
    --shadcn-primary:              oklch(0.985 0 0);
    --shadcn-primary-foreground:   oklch(0.205 0 0);
    --shadcn-secondary:            oklch(0.269 0 0);
    --shadcn-secondary-foreground: oklch(0.985 0 0);
    --shadcn-muted:                oklch(0.269 0 0);
    --shadcn-muted-foreground:     oklch(0.708 0 0);
    --shadcn-accent:               oklch(0.269 0 0);
    --shadcn-accent-foreground:    oklch(0.985 0 0);
    --shadcn-destructive:          oklch(0.396 0.141 25.723);
    --shadcn-destructive-foreground: oklch(0.637 0.237 25.331);
    --shadcn-border:               oklch(0.269 0 0);
    --shadcn-input:                oklch(0.269 0 0);
    --shadcn-ring:                 oklch(0.439 0 0);
    --shadcn-chart-1:              oklch(0.488 0.243 264.376);
    --shadcn-chart-2:              oklch(0.696 0.17 162.48);
    --shadcn-chart-3:              oklch(0.769 0.188 70.08);
    --shadcn-chart-4:              oklch(0.627 0.265 303.9);
    --shadcn-chart-5:              oklch(0.645 0.246 16.439);
    --shadcn-sidebar:              oklch(0.205 0 0);
    --shadcn-sidebar-foreground:   oklch(0.985 0 0);
    --shadcn-sidebar-primary:      oklch(0.488 0.243 264.376);
    --shadcn-sidebar-primary-foreground: oklch(0.985 0 0);
    --shadcn-sidebar-accent:       oklch(0.269 0 0);
    --shadcn-sidebar-accent-foreground: oklch(0.985 0 0);
    --shadcn-sidebar-border:       oklch(0.269 0 0);
    --shadcn-sidebar-ring:         oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    font-family: var(--font-montserrat);
    color: white;
    @apply bg-background ; /* text-foreground */
  }
}
