:root {
    --navbar-height: 70px;
    --background: #ebebeb; 
    --dark-background: #29262C;
    --primary-color: #fefefe;
    --dark-color: #060508;
    --light-grey-color: #d8d8d8;
    --grey-color: silver;
    /* --grey-color: #c8c8c8; */
    --medium-grey-color: #8b8b8b;
    --dark-grey-color: #595959;
}

html, body{
    font-family: 'Montserrat', sans-serif;
}

#app {
    display: block;
    width: 100%;
    position: relative;
}

#app, #layout, .content {
    min-height: 100vh;
}

nav {
    position: absolute;
    z-index: 100;

    display: flex;
    align-items: center;
    gap: 1rem;
    
    width: 100%;
    max-width: calc(100% + 4px);
    height: var(--navbar-height);
    max-height: var(--navbar-height);
    pointer-events: none;
    padding: 1rem 0.25rem;

    a {
        pointer-events: auto;
        font-size: clamp(15px, 3vw, 30px);
        color: inherit;
    }
}

#layout {
    display: block;
    width: 100%;
    background-color: var(--background);
    color : var(--dark-color);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 100%;

    padding: var(--navbar-height) 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

